{% extends 'index.html' %}

{% block content %}
<div class="container-fluid">

    <div class="container" style="position: relative; top: 15vh;">
      <!-- Title -->
      <div class="d-flex justify-content-between align-items-center py-3">
        <h2 class="h5 mb-0"><a href="#" class="text-muted"></a> Order #16123222</h2>
      </div>
    
      <!-- Main content -->
      <div class="row">
        <div class="col-lg-8">
          <!-- Details -->
          <div class="card mb-4">
            <div class="card-body">
              <div class="mb-3 d-flex justify-content-between">
                <div>
                  {% for date in dates %}
                    <p>{{ date|date:"F j, Y, g:i a" }}</p>
                    <span class="me-3">{{ date|date:"F j, Y, g:i a" }}</span>
                    {% endfor %}
                  <span class="me-3">#16123222</span>
                  <span class="badge rounded-pill bg-info">SHIPPING</span>
                </div>
                <div class="d-flex">
                  <div class="dropdown">
                    <button class="btn btn-link p-0 text-muted" type="button" data-bs-toggle="dropdown">
                      <i class="bi bi-three-dots-vertical"></i>
                    </button>
                    <ul class="dropdown-menu dropdown-menu-end">
                      <li><a class="dropdown-item" href="#"><i class="bi bi-pencil"></i> Edit</a></li>
                      <li><a class="dropdown-item" href="#"><i class="bi bi-printer"></i> Print</a></li>
                    </ul>
                  </div>
                </div>
              </div>
              <table class="table table-borderless">
                <tbody>
                  {% for data in orders %}
                  <tr>
                    <td>
                      <div class="d-flex mb-2">
                        <div class="flex-shrink-0">
                          <img src="{{data.image}}" alt="" width="35" class="img-fluid">
                        </div>
                        <div class="flex-lg-grow-1 ms-3">
                          <h6 class="small mb-0"><a href="#" class="text-reset">{{data.product}}</a></h6>
                          <!-- <span class="small">Color: Black</span> -->
                        </div>
                      </div>
                    </td>
                    <td>1</td>
                    <td class="text-end">${{data.price}}</td>
                  </tr>
                  {% endfor %}
                  <!-- <tr>
                    <td>
                      <div class="d-flex mb-2">
                        <div class="flex-shrink-0">
                          <img src="https://www.bootdey.com/image/280x280/FF69B4/000000" alt="" width="35" class="img-fluid">
                        </div>
                        <div class="flex-lg-grow-1 ms-3">
                          <h6 class="small mb-0"><a href="#" class="text-reset">Smartwatch IP68 Waterproof GPS and Bluetooth Support</a></h6>
                          <span class="small">Color: White</span>
                        </div>
                      </div>
                    </td>
                    <td>1</td>
                    <td class="text-end">$79.99</td>
                  </tr> -->
                </tbody>
                <tfoot>
                  <tr>
                    <td colspan="2">Subtotal</td>
                    <td class="text-end">${{sub_total}}</td>
                  </tr>
                  <tr>
                    <td colspan="2">Shipping</td>
                    <td class="text-end">$20.00</td>
                  </tr>
                  <tr class="fw-bold">
                    <td colspan="2">TOTAL</td>
                    <td class="text-end">${{ total_price }}</td>
                  </tr>
                </tfoot>
              </table>
            </div>
          </div>
          <!-- Payment -->
          <div class="card mb-4">
            <div class="card-body">
              <div class="row">
                <div class="col-lg-6">
                  <h3 class="h6">Payment Method</h3>
                  Total: ${{ total_price }} <span class="badge bg-success rounded-pill">PAID</span></p>
                </div>
                <div class="col-lg-6">
                  
                  {% for date in user_addresses %}
                    <h3 class="h6">Billing address</h3>
                    <address>
                      <strong>{{ date.firstname }}</strong><br>
                      {{ date.address }} {{date.house}}<br>
                      {{ date.city }}, {{ date.Zip }}<br>
                      <abbr title="Phone">P: </abbr>{{date.phone}}
                    </address>
                    {% endfor %}
                  </div>
              </div>
            </div>
          </div>
        </div>
        <div class="col-lg-4">
          <!-- Customer Notes -->
          <div class="card mb-4">
            <div class="card-body">
              <h3 class="h6">Customer Notes</h3>
              <p>{{user_address.message_to_seller}}</p>
            </div>
          </div>
        </div>
      </div>
    </div>
      </div>
    <script>
    </script>
{% endblock %}