{% extends 'index.html' %}
{% block content %}
    <h1>Search Results</h1>
    {% if Speakers %}
    
<section id="latest-blog" class="padding-large">
    <div class="container">
      <div class="row">
        <div class="post-grid d-flex flex-wrap justify-content-between">
        
        {% for product in Speakers  %}
            <div class="col-lg-4 col-sm-12">
            <a href="{% url 'product_detail' pk=product.pk %}">
                <div class="card border-none me-3">
                <div class="card-image">
                    <img src="{{ product.image.url }}" alt="" class="img-fluid">
                </div>
                </div>
                <div class="card-body text-uppercase">
                <div class="card-meta text-muted">
                    <span class="meta-category">{{product.prod_name}}</span>
                </div>
                <h3 class="card-title">
                    <a href="#">{{product.prod_name}}</a>
                </h3>
                </div>
            </a>
            </div>
        {% endfor %}
          
       </div>
    </div>
</section>
    {% else %}
        <p>No products found matching your search criteria.</p>
    {% endif %}
{% endblock %}
